<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/validation.js" defer></script>
    <title></title>
</head>
<body>
    <% if (user) { %>
        <!-- user home page -->
        Welcome <%= user.name.split(" ")[0] %>!
    <% } else { %>
        <!-- login page -->
        <%- include('sign-up-form'); %>
        <% if (locals.error) { %>
            <br>
            <p style="color: red;"><%= error %></p>
        <% } %>
    <% } %>
</body>
</html>