<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<h1>Please Log In</h1>
<form action="/login" method="POST">
    <div class="inputs">
        <div class="input">
            <label for="username">Username</label>
            <input name="username" placeholder="username" type="text" />
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input name="password" type="password" />
        </div>
    </div>
    <button>Log In</button>
</form>