<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
</head>
<body>
    <div class="sidebar">
        <div class="hero">
            <h1 class="hero-title">TITLE</h1>
        </div>
    </div>
    <main>
        <header class="header">
            <h2 class="cta">CALL TO ACTION</h2>
        </header>
        <form action="/sign-up" method="POST">
                <h2 class="form-title">SIGN UP NOW!</h2>
            <div class="inputs">
                <div class="input">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="field username" autocomplete="username" required>
                    <p class="error-message username-error"></p>
                </div>
                <div class="input">
                    <label for="first-name">First Name</label>
                    <input type="text" name="firstName" id="first-name" class="field first-name" required>
                    <p class="error-message first-name-error"></p>
                </div>
                <div class="input">
                    <label for="last-name">Last Name</label>
                    <input type="text" name="lastName" id="last-name" class="field last-name" required>
                    <p class="error-message last-name-error"></p>
                </div>
                <div class="input">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="field email" required>
                    <p class="error-message email-error"></p>
                </div>
                <div class="input">
                    <div class="country-code">
                        <select name="country-code" id="country-code">
                            <% for (const country of Object.keys(locals.country_codes)) { %>
                                <option value=<%= locals.country_codes[country]["code"] %>><%= "+" + locals.country_codes[country]["code"] + " " + country %></option>
                            <% } %>
                        </select>
                    </div>
                    <label for="phone-number">Phone Number(optional)</label>
                    <input type="tel" name="phoneNumber" id="phone-number" class="field phone-number" pattern="^\(?\d{3}\)?[\s.\-]?\d{3}[\s.\-]?\d{4}$"required>
                    <p class="error-message phone-error"></p>
                </div>
                <div class="input">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="field password" autocomplete="new-password" required>
                    <p class="error-message password-error"></p>
                </div>
                <div class="input">
                    <label for="confirm">Confirm Password</label>
                    <input type="password" name="confirm" id="confirm" class="field confirm" autocomplete="new-password" required>
                    <p class="error-message confirm-error"></p>
                </div>
            </div>
            <button type="submit">Create Account</button>
        </form>
        <p class="login">Already have an account? <a href="/login">Log in</a></p>
    </main>
</body>
</html>
